@import url("https://fonts.googleapis.com/css2?family=Rancho&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

html,
body {
	padding: 0;
	margin: 0;
	font-family: "Inter", sans-serif;
	background-color: #111212;
	color: white;
}

a {
	color: inherit;
	text-decoration: none;
}
button {
	font-family: "Inter", sans-serif;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.main {
	width: 100%;
	height: 100vh;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
}
.slide {
	padding: 30px 8%;
	width: 100%;
	height: 100vh;
	scroll-snap-align: start;
}
.slide2 {
	position: relative;
	padding: 50px 10%;
}
.slide3 {
	padding: 50px 10%;
	min-height: 100vh;
	height: fit-content;
}
nav {
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
}
.github-portal {
	background: linear-gradient(to left, #fff, #bcbcc4);
	display: flex;
	align-items: center;
	justify-content: center;
	color: #000;
	padding: 8px 12px 8px 12px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-weight: normal;
	transition: 500ms all ease-in-out;
}
.github-portal:hover {
	transform: scale(101%);
	color: white;
	background: none;
	border: 1px solid #fff;
}

.brand-name {
	font-family: "Rancho", cursive;
	font-weight: 400;
	font-size: 30px;
}
.info-container {
	margin-top: -50px;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.info-container .card {
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
}
.card .image-container {
	height: 100%;
	width: 40%;
	display: flex;
	justify-content: center;
}
.image-container img {
	border-radius: 50%;
	height: 240px;
	width: 240px;
}
.card-container {
	display: flex;
	justify-content: center;
}
.card .info {
	height: 100%;
	width: 60%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.info h1 {
	margin: 2px 0;
}
.info span {
	font-size: 12px;
	color: #95a4af;
}
.info p {
	margin-top: 15px;
	font-size: 14px;
	color: #aaadb5;
}
.contact-container {
	display: flex;
	margin-top: 20px;
	gap: 4px;
}
.card .email-container {
	background: linear-gradient(to right, #59a4f0, #0071e3);
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgb(240, 240, 240);
	font-size: 14px;
	padding: 10px 15px 10px 15px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
.card .email-container:hover {
	transition: ease-in-out;
	transform: scale(101%);
}
.email-portal {
	display: flex;
	align-items: center;
	background-color: #dadada;
	color: black;
	padding: 4px 10px;
	border-radius: 5px;
	cursor: pointer;
}
.email-portal:hover {
	background: linear-gradient(to right, #59a4f0, #0071e3);
	color: white;
}
#contact-text {
	padding-left: 5px;
	font-size: x-small;
	color: #95a4af;
}
.section-title {
	text-decoration: underline;
	text-underline-offset: 5px;
}
.skills-box-container {
	height: 90px;
	width: 100%;
	background-color: #37383b;
	padding: 0 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 50px;
	overflow: scroll;
}
.skills-box-container::-webkit-scrollbar-corner {
	display: none;
}
.skills-box-container::-webkit-scrollbar {
	display: none;
}

.skills-box-container img {
	filter: grayscale(1);
	opacity: 65%;
	transition: 1s ease-in-out;
}
.skills-box-container img:hover {
	filter: grayscale(0);
	opacity: 100%;
}
.slide2 section {
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	padding-top: 30px;
	justify-content: center;
}

.set-title {
	font-size: 16px;
	padding: 0 5% 10px 5%;
	color: #b6b7b9;
}
.skill-sets {
	width: 100%;
	height: 100%;
	flex-direction: column;
	display: flex;
	justify-content: space-evenly;
	padding-top: 30px;
	padding-bottom: 30px;
}
.set1 {
	text-align: end;
}
.set2 {
	text-align: center;
}

.slide3 section {
	height: 100%;
	padding: 30px 0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	align-items: center;
	justify-content: space-evenly;
}
.slide3 section div {
	overflow: hidden;
	position: relative;
	gap: 10px;
}
.slide3 section div img {
	height: 100%;
	width: 100%;
	border-radius: 10px;
	transition: 500ms all ease-in-out;
}
.slide3 section div p {
	display: none;
	font-size: xx-large;
	font-weight: 600;
	position: absolute;
	left: 20px;
	top: 10px;
	font-family: "Inter", sans-serif;
	pointer-events: none;
}
.slide3 section div img:hover {
	filter: brightness(40%);
}
.slide3 section div img:hover + .project-title {
	display: block;
}
.slide3 section div a {
	position: absolute;
	bottom: 10px;
	right: 10px;
	display: flex;
	align-items: center;
	font-size: 12px;
	gap: 4px;
	padding: 5px 10px;
	background-color: #fff;
	color: #1f2020;
	border-radius: 5px;
	width: fit-content;
}

@media only screen and (max-width: 840px) {
	.slide {
		padding: 30px 5%;
	}
	.info h1 {
		font-size: large;
	}
	.info p {
		text-align: center;
	}
	.card .info {
		align-items: center;
	}
	.info-container .card {
		flex-direction: column;
		gap: 25px;
	}
	.skills-box-container {
		justify-content: start;
	}
	.slide3 section {
		grid-template-columns: repeat(2, 1fr);
		gap: 15px;
	}
}

@media only screen and (max-width: 520px) {
	.slide3 section {
		grid-template-columns: repeat(1, 1fr);
		gap: 15px;
	}
}
