@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	padding: 80px 60px;
}

.satoshi-font {
	font-family: "Satoshi", sans-serif;
}

.inter-font {
	font-family: "Inter", sans-serif;
}

.pj-font {
	font-family: "Plus Jarkata Sans", sans-serif;
}

.poppins-font {
	font-family: "Poppins", sans-serif;
}
